{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="sidebar">
        <div class="sidebar-header">Категории</div>
        {% for category in categories %}
            <a style="color: black;" href="{% url  'articles:category' category.id %}">{{ category.name }}</a>
        {% endfor %}
    </div>

    <!-- Контент -->
    <div class="container py-5" style="margin-left: 240px;"> <!-- Отступ для бокового меню -->
        <h1 class="text-center mb-5">Выставки</h1>
        <div class="row gy-4">
            {% if object_list %}
                {% for el in object_list %}
                <!-- Карточка 1 -->
                <div class="col-md-4 col-sm-6">
                    <div class="card bg-black">
                        <img src="{{ el.image.url }}" alt="Выставка" class="card-img-top">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ el.name }}</h5>
                            <a class="btn btn-light" href="{% url 'articles:exhibition_detail' id=el.id %}">Посмотреть выставку</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>На этой странице пока нету выставок</p>
            {% endif %}
        </div>
    </div>


    <nav aria-label="...">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item">
      <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
    </li>
      {%endif%}
      {%for page in paginator.page_range%}
    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
      {%endfor%}
      {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
    </li>
      {%endif%}
  </ul>
</nav>
{% endblock %}